<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asia</title>
</head>
<body>
{% for tr in travel %}
    <div class="card text-bg-dark">
        <img src="/media/osiyo.jpg" class="card-img" alt="/media/osiyo.jpg">
        <div class="card-img-overlay">
            <h5 class="card-title black">{{ tr.title }}</h5>
            <p class="card-text black">{{ tr.deccraption }}</p>
            <p class="card-text black" ><small>Last updated 3 mins ago</small></p>
        </div>
    </div>



{% endfor %}
</body>
</html>