{% extends 'base.html' %}

{% block content %}
    {#      <div class="card text-bg-dark">#}
    {#    {% for travel in travels %}#}
    {#        <img src="{{ travel.image.url }}"  width="500" height="500" class="card-img" alt="">#}
    {#        <div class="card-img-overlay">#}
    {#            <h5 class="card-title">{{ travel.title }}</h5>#}
    {#            <p class="card-text">{{ travel.descraption }}</p>#}
    {#            <p class="card-text"><small>Last updated 3 mins ago</small></p>#}
    {#        </div>#}
    {#    {% endfor %}#}
    {#    </div>#}

    <div class="card mb-3" style="max-width: 540px;">
        {% for travel in travels %}
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ travel.image.url }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ travel.title }}</h5>
                        <p class="card-text"></p>
                        <p class="card-text"><small class="text-body-secondary">last update this day</small></p>
                        <a href="{% url 'detil' travel.id %}" class="btn btn-primary">More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>




{% endblock %}