<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
</head>
<body>
<style>
    body {

        background-image: url("/media/nastuh-abootalebi-eHD8Y1Znfpk-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: cover;

    }
</style>
<a style="color: #340ede"><h2 style="font-family: Chilanka" > Thanks your request send our admin plese wait answer</h2></a>
<h3  style="font-family: Chilanka" > <a style="color:#3ff302;" href="{% url 'home' %}" >Click to home</a></h3>
</body>
</html>