<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
     <link href="{% static 'homer.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Woter Travel</title>
</head>
<body>
<div class="bg-image"></div>

<div class="bg-text">
  <h1 style="font-family: Chilanka">Woter travel</h1>
  <p>Exciting journeys and unforgettable memories with Water Travel Tourist Agency! We take you to the world's most beautiful destinations. Our expertise and insider knowledge help you get closer to the local culture and experience starry nights. With 10 years of experience in the tourism industry and successful trips, our team welcomes you as our dear friend. Furthermore, we lead you to the nearest travel agency. Traveling with Water Travel Tourist Agency opens up new sights and opportunities to refresh your life</p>
</div>


</body>
</html>